{% extends 'base.html.twig' %}

{% block title %}
    Liste des films
{% endblock %}

{% block body %}
<div class="row">
 <div class="col-2"><ul class="list-group">

            {% for myName in genres %}
            {% for element in myName %}
              <a href="{{ path('category_movie', { 'id': element.id }) }}" class="list-group-item d-flex justify-content-between align-items-center text-dark">{{ element.name }}  </a>
            {% endfor %}
            {% endfor %}
            
</ul></div>
 <div class="col-10"><div class="row">
        {% for popularMovies in movies %}
            {% for result in popularMovies %}
                <div class="col-md-3">

                    <div
                        class="card border-danger mb-3" style="max-width: 20rem;">
                        {# <div class="card-header">{{ result.title }}</div> #}
                        <div class="card-body">
                            <a href="{{ path('film_details', {'id': result.id}) }}"> <img src="https://image.tmdb.org/t/p/w500/{{ result.poster_path}}" width="100%">
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% endfor %}</div>
</div>

    
   
{% endblock %}
